 
        .errores{
 
            background: white;
			
            color: red;
            display: none;
            font-size: 14px;
 
        }

		#tabla_1 { 
		  border-collapse: separate; 
		}
 